RewriteEngine On

RewriteCond %{REQUEST_URI} !^/favicon.ico$ [NC]
RewriteCond %{REQUEST_URI} !^/templates/assets/ [NC]
RewriteCond %{REQUEST_URI} !^/templates/files/ [NC]

RewriteRule ^ index.php [QSA,L]

<Files "config.php">
    Require all denied
</Files>